/* misc */
#content a.video {
  max-width:640px;
  max-height:480px;
}

#add-field {
    margin-top:4em;
}

#add-fieldset input {
    display:none !important;
}

/* various sunburst customizations: */

div#viewlet-above-content {
  margin-left:0.25em;
  margin-bottom:-0.5em;
  padding:0.5em;
  padding-bottom:0.5em;
  padding-left:0.5em;
  font-size:90%;
  font-weight:bold;
  color:#9bd;
  border: 1px solid #ccb;
  background-color:#ffd;
}

div.documentEditable {
    border:0.1em solid #ddd;
}

div.documentEditable, #content {
  background-color:#fff;
}

#content-views {
    background-color: #444 !important;
}

div.contentActions ul#contentActionMenus {
    background-color: #112;
}

div.contentActions ul#contentActionMenus li dl a {
    background-color: #112;
}

div.contentActions ul#contentActionMenus li dl dd.actionMenuContent a {
   padding-left:0.5em;
}

div.contentActions ul#contentActionMenus li dl dd.actionMenuContent a:hover {
   color:#000;
   padding-left:0.25em;
   padding-right:0.25em;
}

div.contentActions ul#contentActionMenus li dd.actionMenuContent {
   background-color:#112;
   border-bottom:0.5em solid #112;
}

div.contentActions ul#contentActionMenus li dl dd.actionMenuContent img {
  margin-left:-0.6em;
  margin-right:0.4em;
}

div#edit-bar {
    margin-top: -0.6em;
    margin-left: -0.1em;
    margin-right: 0;
    padding-bottom: 0;
    background-color: #444;
    border: 0.25em solid #444;
    border-bottom:0.1em solid #ddd;
}

body {
  background-color:#fff;
}

div#visual-portal-wrapper {
  background-color:#fff;
}

#portal-top {
    background-color:#fff;
    border-bottom:0.1em solid #ccc;
    margin-bottom:0.2em;
}

#portal-columns {
    background-color: #f4f4f4;
    width:100%;
}

#portal-header {
    border-bottom:0.1em solid #999;
}

table#portal-columns td {
  vertical-align:top;
}

td#portal-column-one, td#portal-column-two {
  padding-right:0.4em;
}

#portal-searchbox {
    margin:0.2em;
    margin-top:0.6em;
}

#portal-top #portal-header #portal-globalnav {
    padding:0;
    margin:0;
    margin-top:0.3em;
    background-color:#fff;
    /* x-platform vertical gradient */
    background: -moz-linear-gradient(top, #FFFFFF, #BFC4C0);
    background: -webkit-gradient(linear,
                left top, left bottom, from(#FFFFFF), to(#BFC4C0));
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#FFFFFF', EndColorStr='#BFC4C0', GradientType=0);
}

#portal-top #portal-header #portal-globalnav li a {
    padding-bottom:1em;
}

#portal-top #portal-header #portal-globalnav li.plain a {
    background-color:transparent;
    color:#245;
}

#portal-top #portal-header #portal-globalnav li.plain a:hover {
    background-color:#444;
    color:#ffc;
}

#portal-top #portal-header #portal-globalnav li.selected a {
    background-color:#000;
}

#portal-top #portal-header #portal-globalnav li.selected a:hover {
    background-color:#444;
    color:#ffc;
}

/* widths apply to older table-based plone layout, not to sunburst tableless main template divs */
td#portal-column-one, td#portal-column-two {
    max-width:13em;
}

td#portal-column-one .visualPadding, td#portal-column-two .visualPadding {
    min-width:8em;
}

#content {
    overflow:hidden;
}

body.template-usergroup-groupprefs #content,
body.template-usergroup-userprefs #content {
    overflow:scroll;
}

/* tweaks to sunburst (tableless layout) column widths: */
div.width-1\3a 2 { width: 61% !important; } /* .width-1:2 */
div.width-1\3a 4 { width: 18% !important; } /* .width-1:4 */
div.width-3\3a 4 { width: 79% !important; } /* .width-3:4 */
div.position-1\3a 4 {margin-left: -80% !important;} /* .position-1:4 */
div.position-3\3a 4 {margin-left: -18% !important;} /* .position-3:4 */

dl.portlet {
    border:0.1em solid #ddd;
}

dl.portlet dt.portletHeader {
    text-align:center;
    font-weight:normal;
    font-size:90%;
    color:#89a;
    background-color:#abc;
    /* x-platform vertical gradient */
    background: -moz-linear-gradient(top, #FFFFFF, #AFBFCF);
    background: -webkit-gradient(linear,
                left top, left bottom, from(#FFFFFF), to(#AFBFCF));
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#FFFFFF', EndColorStr='#AFBFCF', GradientType=0); 
}

dl.portlet dt.portletHeader a.tile {
    color:#89a;
}

dl.portletNavigationTree dd.portletItem ul.navTree {
    background-color:#fff;
}

dl.portletNavigationTree dd.portletItem ul.navTree li.navTreeCurrentNode {
    background-color:#fff;
}

dl.portletNavigationTree dd.portletItem ul.navTree li {
    border:0.1em dotted #ddd;
}

dl.portletNavigationTree dd.portletItem ul.navTree li.navTreeCurrentNode a.navTreeCurrentItem {
    background-color:#242;
    color:#fff;
    padding:0 0.2em;
    border:0.1em solid #242;
}

#portal-column-one dl.portletNavigationTree dd.portletItem ul.navTree .navTreeItem a img {
  padding-right:0.25em;
}

#portal-column-one .navTreeTopNode a {
  margin-left:-0.75em;
}

#portal-column-one .navTreeTopNode a {
  margin-right:-1.2em;
}


/* site specific styles for core/add-on stuff: */

#content a.video {
  max-width:640px;
  max-height:480px;
}

#add-field {
    margin-top:4em;
}

#add-fieldset input {
    display:none !important;
}

/* forms / plone.schemaeditor style tweaks */

div.fieldPreview .fieldLabel {
  max-width:45em;
  overflow:hidden;
  text-overflow:ellipsis;
}
div.fieldPreview {
  max-width:55em;
}

div.fieldPreview select {
  max-width:100%;
}

/* === Mid-2015 style improvements === */


#portal-top #portal-header {
  border-bottom:none;
}

#content {
  padding:0 0.3em;
  margin-top:-0.7em;
}

#viewlet-above-content-body, #viewlet-below-content-title {
  padding-left:0.7em;
}

#viewlet-above-content {
  background-color:SlateGray !important;
  border:none !important;
  border-left:0.5em solid #cce !important;
  margin-right:1px !important;
}

#viewlet-above-content div a {
  color:blanchedalmond;
}

#viewlet-above-content div a:hover {
  color:skyblue;
  text-decoration: underline;
}

#viewlet-above-content #breadcrumbs-current,
#viewlet-above-content #breadcrumbs-you-are-here {
  color:white;
}

#viewlet-above-content #breadcrumbs-you-are-here {
  font-weight:normal;
  font-size:85%;
  color:#ccc;
  margin-right:0.5em;
}

#viewlet-above-content .breadcrumbSeparator {
  color:black;
}

#portal-column-one .navTree {
  margin-top:0.6em;
}

#portal-column-one .navTree.navTreeLevel0 {
  margin-top:0;
}

#portal-column-one dl.portletNavigationTree dd.portletItem ul.navTree.navTreeLevel0 li.navTreeTopNode {
  margin-left:-0.1em;
}

#portal-column-one dl.portletNavigationTree dd.portletItem ul.navTree.navTreeLevel0 li.navTreeTopNode.navTreeCurrentNode {
  margin-left:-0.2em;
}

#portal-column-one .navTree.navTreeLevel1 {
  margin-left:-1em;
  margin-bottom:-0.6em;
  border-left:0.5em solid #e9e9e9;
}

#portal-column-one .navTree.navTreeLevel1 .navTreeItem {
  margin-left:-0.4em;
  border-bottom:0.4em solid white;
  border-top:0.3em solid white;
}

#portal-column-one .navTree.navTreeLevel1 > li.navTreeItem {
  margin-left:0.25em;
}

#portal-column-one .navTree.navTreeLevel1 > li.navTreeItem .navTreeItem {
  margin-left:-0.25em;
}

#portal-column-one .navTree.navTreeLevel1 li.navTreeItem .navTreeItem.navTreeCurrentNode {
  margin-left:-0.9em;
  margin-bottom:0.65em;
}

#portal-column-one .navTree.navTreeLevel1 > .navTreeItem.navTreeCurrentNode {
  margin-left:-0.4em !important;
}

#portal-column-one .navTree.navTreeLevel1 .navTreeItem a {
  border-left-width:0.5em;
}

#portal-column-one .navTree .navTreeItem {
  border-bottom:0.2em solid white;
}

#portal-column-one .navTree .navTreeItem a {
  margin-right:-1em;
  padding-left:23px !Important;
}

#portal-column-one .navTree .navTreeItem a img {
  margin-left:-18px;
}

.portlet dd.portletItem {
  overflow-x:hidden;
}

dl.portletNavigationTree dd.portletItem ul.navTree li {
  border:none;
}

dl.portletNavigationTree dd.portletItem ul.navTree li.navTreeCurrentNode {
  margin-left:-0.2em;
  border-left:0.5em solid SteelBlue;
  border-bottom:none !important;
  border-top:none !important;
  padding-left:1.1em;
}

dl.portletNavigationTree dd.portletItem ul.navTree li.navTreeCurrentNode > a {
  margin-top:-0.2em !important;

}

#portal-column-one .portletNavigationTree {
  margin-top:0em;
}

/* sunburst sprite position adjustment */
.icons-on .navTreeItem .contenttype-document {
    background: no-repeat transparent 4px 4px url(contenttypes-sprite.png);
}
.icons-on .navTreeItem .contenttype-event {
    background: no-repeat transparent 4px -212px url(contenttypes-sprite.png);
}

.icons-on .navTreeItem .contenttype-folder {
    background: no-repeat transparent 4px -644px url(contenttypes-sprite.png);
}

.icons-on .navTreeItem .contenttype-link {
    background: no-repeat transparent 4px -1076px url(contenttypes-sprite.png);
}

.icons-on .navTreeItem .contenttype-news-item {
    background: no-repeat transparent 4px -1292px url(contenttypes-sprite.png);
}

.icons-on .navTreeItem .contenttype-plone-site {
    background: no-repeat transparent 4px -1508px url(contenttypes-sprite.png);
}

.icons-on .navTreeItem .contenttype-collection {
    background: no-repeat transparent 4px -1724px url(contenttypes-sprite.png);
}

.icons-on .navTreeItem .contenttype-topic {
    background: no-repeat transparent 4px -1724px url(contenttypes-sprite.png);
}

/* color coded left-border, based on access */
#portal-column-one .navTree .navTreeItem a {
  border-left:0.5em solid #cccccc;
  padding:0 0.4em;
  margin-left:-1.2em;
  margin-top:-0.5em;
  margin-bottom:-0.3em;
}

#portal-column-one .navTree .navTreeItem .state-visible {
  border-left:0.5em solid #ccffcc;
}

#portal-column-one .navTree .navTreeItem .state-published {
  border-left:0.5em solid #ccccff;
}

#portal-column-one .navTree .navTreeItem .state-restricted,
#portal-column-one .navTree .navTreeItem .state-private
{
  border-left:0.5em solid #ffcccc;
}

#portal-column-one .navTree .navTreeItem .state-restricted span,
#portal-column-one .navTree .navTreeItem .state-private span {
  color:#888 !important;
}

#portal-column-one .navTree .navTreeItem .contenttype-collective-teamwork-team.state-visible,
#portal-column-one .navTree .navTreeItem .contenttype-collective-teamwork-workspace.state-visible {
  border-left:0.5em solid #eeccaa;
}

#portal-column-one .portletNavigationTree .portletItem .navTreeItem a,
#portal-column-one .portletNavigationTree .portletItem .navTreeItem a span {
  color:black;
  font-size:100%;
  font-family:Arial Narrow, Arial;
}

#portal-column-one .portletNavigationTree .portletItem .navTreeItem a span {
  padding-left:0.2em;
}
#portal-column-one dl.portletNavigationTree dd.portletItem ul.navTree li.navTreeCurrentNode a.navTreeCurrentItem,
#portal-column-one dl.portletNavigationTree dd.portletItem ul.navTree li.navTreeTopNode a {
  font-size:94%;
  font-weight:bold;
  min-height:2.35em;
  margin:-0.3em -1.2em;
}

#portal-column-one dl.portletNavigationTree dd.portletItem ul.navTree li.navTreeCurrentNode a.navTreeCurrentItem {
  background-color:LightSteelBlue;
  border:none;
}
#portal-column-one dl.portletNavigationTree dd.portletItem ul.navTree .navTreeItem a img {
  padding-right:2px;
}

/* plone.app.widgets customizations (may be plone 4.x specific): */

/* more room between > icon and scrollbars in relateditems widget */
.pattern-relateditems-result .pattern-relateditems-buttons a {
    margin-right: 0.6em;
}

.plone-modal-dialog {
  /* small fix: modal dialog for upload/related (via tinymce) requires more space than shipped OOTB in plone.app.widgets */
  width: 760px;
  margin-left: auto !important;
  margin-right: auto !important;
  left: 0 !important;
}

body.mce-content-body {
  overflow-y:scroll !important;
}

/* calendar styles for fullcalendar */

.fc-event-inner {
  padding:0.3em !important;
  font-size:93%;
}

a.fc-event {
  color:black !important;
}

a.fc-event:hover .fc-event-time,
a.fc-event:hover .fc-event-title {
  color:#35d !important;
  font-weight: bold;
  font-size:110%;
}

a.fc-event:hover .fc-event-title {
  text-decoration:underline;
}

.fc-first .ui-widget-header {
  font-size:90%;
}

#calendar .fc-header .ui-state-default {
  background: #bcc;
  background: linear-gradient(to bottom, #bbb 0%,#bcc 50%,#cdd 51%,#eee 100%);
  color:#357 !important;
  font-size:90%;
}

#calendar .fc-header .ui-state-active {
  background: #bcc;
  background: linear-gradient(to top, #bbb 0%,#bcc 50%,#cdd 51%,#eee 100%);
  color:#357 !important;
  font-weight:bold;
}

#calendar .fc-event {
  background:linear-gradient(to bottom, #9bb 0%,#acc 50%,#cdf 51%,#efe 100%);
}

#calendar .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  background: #fafae0;
}

/* browser warning styles */
div.alertbox {
  background-color:#ffb !important;
  padding:1.3em;
  color:darkgray;
  font-weight:normal;
  margin-bottom:1em;
}

div.alertbox h3 {
  color:#900;
}

div.alertbox h3:before {
  font-size:200%;
  content:"⚠ ";
}

div.alertbox h3.deprecated:before {
  content:"⌛ ";
  font-family: Lucida Sans Unicode;
}

div.alertbox p.detected {
  margin-left:1em;
  font-size: 85%;
  margin-bottom:0.7em;
}

div.alertbox ul {
  list-style:square;
  margin-bottom:1em;
}

div.alertbox li {
  display:list-item;
  font-size:85%;
  color:gray;
  margin-left:2em;
}

div.alertbox .message-wrap {
  color:navy;
}

/* plone.app.widgets fixes */

span.option {
  display:block;
}
